body {
  background-color:rgb(231, 231, 231);
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

a {
  color:olive;
  text-decoration: none;
}

a:hover {
  color:forestgreen;
  text-decoration: underline;
}


header {
  text-align: center;
}

h1 {
  margin-top: -20px;
  text-align: center;
}


main {
  text-align: left;
  margin-left: -50px;
  margin-bottom: 300px;
  box-sizing: border-box;  /* ensures padding doesn't exceed width */
}

footer {
  text-align: center;
}

ul {
  text-align: left;
}

.profile-img {
  width: 200px;
  border-radius: 10px;
}

figure {
  text-align: center
}

figcaption {
  font-style: italic;
  margin-bottom: 20px;
}

.side-image {
  position: fixed;
  top: 100px;
  height: 100%;
  width: 120px; 
  opacity: 0.7;
  object-fit: cover;
  border-radius: 0px;
}

.side-image.left {
  top: 0;
  left: 0;
}

.side-image.right {
  top: 0;
  right: 0;
}

table {
  background-color: #f2f2f2;
  width: 100%;
  border-collapse: collapse;
  margin: 1rem 0;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

thead {
  background-color: rgb(225, 225, 173);
}

th, td {
  border: 1px solid #ccc;
  padding: 0.75rem;
  text-align: left;
  vertical-align: top;
  word-wrap: break-word;
}

input[type="text"] {
  margin-top: 5px;
  height: 40px;
  width: 70%;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 15px;
}

button {
  margin-bottom: 20px;
}

@media (max-width: 768px) {
  table, thead, tbody, th, td, tr {
    display: block;
  }

  th {
    background-color: #eee;
  }

  td {
    border: none;
    border-bottom: 1px solid #ddd;
    padding: 0.5rem;
  }

  td:before {
    content: attr(data-label);
    font-weight: bold;
    display: block;
    margin-bottom: 0.25rem;
  }
}


/* === Media Queries for Responsive Design === */

/* -------- Desktop / Large Screens -------- */
@media screen and (min-width: 981px) {
  main {
    padding-left: 140px;
    padding-right: 140px;
  }

  .profile-img {
    width: 200px;
  }

  .side-image {
    display: block;
  }
}

/* -------- Tablets -------- */
@media screen and (min-width: 601px) and (max-width: 980px) {
  main {
    padding-left: 40px;
    padding-right: 40px;
  }

  .profile-img {
    width: 150px;
  }

  .side-image {
    opacity: 0.5;
    width: 80px;
  }
}

/* -------- Mobile Devices -------- */
@media screen and (max-width: 600px) {
  main {
    padding: 20px;
  }

  .profile-img {
    width: 120px;
    display: block;
    margin: 0 auto;
  }

  .side-image {
    display: none;
  }

  h1 {
    font-size: 1.5rem;
  }
}
